*{
    margin: 0;
    padding: 0;
    direction: rtl;
}
*,*::before , *::before{
    box-sizing:border-box ;
}
 header{
    width: 100%;
    height: 80px; 
    border: 6px;
    display: flex;
}
.googleaccount{
    width: 50px;
    height: 50px;
   display:flex;
   margin-left: 10px;
   margin-right: 30px;
   margin-top: 15px;
   padding: 10px;
}
header a{
    display:inline-block ;
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}
.icon{
width: 50px;
height: 50px;
display:flex;
margin-left: 20px;
margin-right: 10px;
margin-top: 15px;
padding: 10px;
}
.gmail{
    display: inline-block;
    margin-top: 25px;
    padding: 10px;
}
.image{
    display: inline-block;
    margin-top: 25px;
    margin-right: 25px;
    padding: 10px;
}
/*fnish header*/
 main{
    display: flex;
    width: 100%;
    height: 350px;
    margin-top: 40px;
    flex-direction: column;
 }
 .p6{
    width: 300px;
    height: 200px;
    margin-right: 550px;
 }
.search{
    direction: ltr;
    width: 700px;
    height: 50px ;
    border: 5px solid rgba(221, 221, 221, 0.755);
    border-radius: 60px;
    padding-top: 5px;
    margin-right:370px;
    padding-left: 30px;
 }
.p7{
    width: 20px;
    height: 20px;
    margin-top: -35px;
    margin-right:  1040px ;
}
.p7:hover{
    cursor: pointer;
}
.tt{
    display: flex ;
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 2px ;
    margin-right: 5px;
}
.p8{
    width: 30px;
    height: 30px;
    margin-top: -28px ;
    margin-right: 400px;
}
.t2{
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-right:370px;
    margin-top: 20px ;
}
.tt .t2{
    visibility:hidden;
    position: absolute;
}
.tt:hover{
    cursor: pointer;
}
.tt:hover .t2{
    visibility: visible;
}
.ttt{
    display: flex;
    position: relative;
    width: 30px;
    height: 25px; 
    margin-top: -27px;
    margin-right: 4px;
}


.p9{
    width: 40px;
    height: 25px;
    margin-top: -29px ;
    margin-right: 440px ; 
}
.t3{
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-right: 420px;
    margin-top: 20px;
}
.ttt .t3{
    visibility:hidden;
    position: absolute;
}
.ttt:hover{
    cursor: pointer;
}
.ttt:hover .t3{
    visibility: visible;
}
.poc{
    width: 100px;
    height: 30px;
    margin-top: 10px ;
    margin-right: 690px;
}
.pco{
    width: 100px;
    height: 30px;
    margin-top: -30px;
    margin-right: 580px;
}
/* fnish main */
    footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50px;
        background-color: rgba(245, 245, 220, 0.375);
        margin-top: 230px ;
    }
    .setting{
        text-decoration:none;
        color: black;
        padding-right: 15px;
        padding-top: 15px;
    }
    .terms{
        text-decoration:none;
        color: black;
        margin-right: 80px;
        margin-top: -17px;
    }
    .privacy{
        text-decoration:none;
        color: black;
        margin-right: 140px;
        margin-top: -17px;
    }
    .adverstisng{
        direction: ltr;
        text-decoration:none;
        color: black;
        margin-top: -17px;
        margin-left: 10px;
    }
    .business{
        direction: ltr;
        text-decoration:none;
        color: black;
        margin-top: -17px;
        margin-left: 100px;
    }
    .howsearchworks{
        direction: ltr;
        text-decoration:none;
        color: black;
        margin-top: -17px;
        margin-left: 170px;
    }
    /* fnish footer */