*{
    margin: 0;
    padding: 0;
    font-family:arial,sans-serif;   
    font-size:0.85rem;  
    direction: rtl;
}
*,*::before , *::before{
    box-sizing:border-box ;
}
* a:hover{
    text-decoration: underline;
}
 header{
    width: 100%;
    height: 80px; 
    border: 6px;
    display: flex;
}
.googleaccount{
    width: 50px;
    height: 50px;
   display:flex;
   position: relative;
   margin-right: 30px;
   margin-top: 15px;
   padding: 10px;
}
.y9{
    width: auto;
    height: auto;
    background-color: azure;
    margin-right: 10px;
}
.p1 .y9{
    visibility: hidden;
    position: absolute;
}
.p1:hover .y9{
    visibility: visible;
}
header a{
    display:inline-block ;
    text-decoration: none;
    color: black;
}
.icon{
width: 50px;
height: 50px;
display:flex;
margin-left: 5px;
margin-right: 2px;
margin-top: 15px;
padding: 10px;
}
.gmail{
    display: inline-block;
    margin-top: 25px;
    padding: 10px;
    font-size: small;
}
.image{
    display: inline-block;
    margin-top: 25px;
    margin-right:px;
    padding: 10px;
    font-size: small;
}
/*fnish header*/
 main{
    display: flex;
    width: 100%;
    height: 350px;
    margin-top: 40px;
    flex-direction: column;
 }
 .p6{
    width: 300px;
    height: 200px;
    margin-right: 580px;
 }
.search{
    direction: ltr;
    width: 700px;
    height: 50px ;
    border: 1px solid rgba(236, 240, 241,1.0) ;  
    box-shadow:30px;
    border-radius: 60px;
    padding-top: 5px;
    margin-right:430px;
    padding-left: 38px;
    font-size: 1.30rem;
}


.p7{
    width: 20px;
    height: 20px;
    margin-top: -35px;
    margin-right:  1100px ;
}
.p7:hover{
    cursor: pointer;
}
.tt{
    display: flex ;
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 2px ;
    margin-right: 35px;
}
.p8{
    width: 30px;
    height: 20px;
    margin-top: -25px ;
    margin-right: 410px;
    padding-left:  3px; ;
}
.t2{
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-right:370px;
    margin-top: 20px ;
    padding-right: 8px;
    padding-top: 5px;
}
.tt .t2{
    visibility:hidden;
    position: absolute;
}
.tt:hover{
    cursor: pointer;
}
.tt:hover .t2{
    visibility: visible;
}
.ttt{
    display: flex;
    position: relative;
    width: 30px;
    height: 25px; 
    margin-top: -27px;
    margin-right: 33px;
}


.p9{
    width: 40px;
    height: 25px;
    margin-top: -29px ;
    margin-right: 440px ; 
}
.t3{
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-right: 420px;
    margin-top: 20px;
    padding-right: 8px;
    padding-top: 5px;
}
.ttt .t3{
    visibility:hidden;
    position: absolute;
}
.ttt:hover{
    cursor: pointer;
}
.ttt:hover .t3{
    visibility: visible;
}
.poc{
    width: 100px;
    height: 30px;
    border:1px solid rgba(236, 240, 241,1.0) ;
    margin-top: 10px ;
    margin-right: 770px;
}
.poc:hover{
    cursor: pointer;
    border-color: blue;
}
.pco{
    width: 100px;
    height: 30px;
    border:1px solid rgba(236, 240, 241,1.0);
    margin-top: -30px;
    margin-right:650px;
}
.pco:hover{
    cursor: pointer;
    border-color: blue;
}
/* fnish main */
    footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50px;
        background-color: rgba(220, 221, 225,0.2);
        margin-top: 250px ;
    }
    .setting{
        text-decoration:none;
        color: black;
        padding-right: 15px;
        padding-top: 14px;
    }
    .terms{
        text-decoration:none;
        color: black;
        margin-right: 80px;
        margin-top: -14px;
    }
    .privacy{
        text-decoration:none;
        color: black;
        margin-right: 140px;
        margin-top: -14px;
    }
    .adverstisng{
        direction: ltr;
        text-decoration:none;
        color: black;
        margin-top: -14px;
        margin-left: 10px;
    }
    .business{
        direction: ltr;
        text-decoration:none;
        color: black;
        margin-top: -14px;
        margin-left: 100px;
    }
    .howsearchworks{
        direction: ltr;
        text-decoration:none;
        color: black;
        margin-top: -14px;
        margin-left: 170px;
    }
    /* fnish footer */